@model GameCatalog.ViewModels.AddGameViewModel;

<h1>Add a Game to the Database</h1>

<form asp-controller="Home" asp-action="ProcessAddGameForm" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>

    <div class="form-group">
        <label asp-for="DeveloperId">Developer</label>
        <select asp-for="DeveloperId" asp-items="Model.Developers">
            <option value="none" selected="selected"> -- choose one -- </option>
        </select>
        <a href="/Developer/Add">Add Developer</a>
    </div>

    <div class="form-group">
        @foreach (var genre in Model.Genres)
        {
            <label name="selectedGenres" value="@genre.Text">@genre.Text</label>
            <input type="checkbox" name="selectedGenres" value="@genre.Value" />
        }
        <a href="/Genre/Add">Add Genre</a>
    </div>

    <input type="submit" value="Add Game" />

</form>